.example-container {
    display: flex;
    flex-direction: column;
    border: 1px solid blanchedalmond;
  width: 500px;
  height: 500px;
    /* margin-left: 400px; */
     margin-top: 70px; 
     float: right;
     margin-right: 100px;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
    /* transform: translate(-50%,-50%); */
  
  }
  
  .example-container > * {
    width: 50%;
    
  }
  .sign{
   
    width: 10%;
    height: 6%;
    margin-left: 220px;
    margin-top: 70px;
    color:grey;
    font-size:20px;
    font-family: 'Arimo', sans-serif;
    /* font-family: 'Oleo Script', cursive; */
    
  }

  mat-form-field{
    margin-left:100px;
    margin-top: 20px;
    font-size: 20px;
    /* font-family: 'Oleo Script', cursive; */
    font-family: 'Arimo', sans-serif;
  }
  
  .icon1{
    margin-left: 200px;
    font-size: 90px;
    color:teal;
    
  }
  /* .icon2{
    margin-right:800px;
    margin-top: 3px;
  } */
  .login{
    color:teal;
   font-size: 25px;
   /* font-family: 'Oleo Script', cursive; */
   font-family: 'Arimo', sans-serif;
   margin-left:180px;
   margin-top:20px;
  }
  .login:hover{
    color: blue;
    background-color: #FFE5E5;
  }
  .registerd{
    color:lightpink;
   font-size: 20px;
   /* font-family: 'Oleo Script', cursive; */
   font-family: 'Arimo', sans-serif;
   margin-left:200px;
   margin-top:20px;
   color: rgba(0, 0, 0, 0.4);
   margin-right: 4px;

  }
  .registerd:hover{
    background-color: #FFE5E5;
  }

  .regi{
    color: #f44336;
    
  }
  .regi:hover{
    background-color: inherit;
    background-color: #FFE5E5;
    opacity: .8;
  }
  .forlog{
    color:grey;
    font-size: 20px;
    /* font-family: 'Oleo Script', cursive; */
    font-family: 'Arimo', sans-serif;
    margin-left:250px;
    /* margin-top:10px; */
   
  }
  .forlog:hover{
    color: darkred;
  }
  .loginform{
    /* background-image: url('../assets/buttons.jpg'); */
    /* height:100%; */
    background-size: cover;
   /* width: 100%; */
   /* opacity: 0.5; */
    margin: auto;
  }
  